@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
.titulo {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  
}

  
/* NAVBAR TRANSPARENTE */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent; /* deixa invisível */
  z-index: 1000;
}

/* ÁREA DO LOGO + TEXTO */
.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 60px;
  height: auto;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.6)); /* sombra no logo */
}

.logo-text {
  font-size: 32px;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(0,0,0,0.9); /* sombra forte para destacar */
}

/* LINKS DO MENU */
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  justify-content: flex-start;
}

.nav-links a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
  transition: 0.3s;
}

.nav-links a:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px white;
}

  

.descricao h3 {
  font-size: 2.2rem;       
  font-family: 'Merriweather', serif; 
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase; 
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.9); 
  max-width: 1100px;
  margin: 150px auto 0;       
  padding: 20px;

  line-height: 1.5;
}
  
.carrossel-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* ajuste a intensidade aqui */
  backdrop-filter: brightness(0.6); /* deixa o fundo mais escuro ainda */
  z-index: 1;
}
@keyframes fadeEffect {
  0% {
    opacity: 0.2;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.carrossel-fundo {
  pointer-events: none;
}