.titulo {
  text-align: center;
  font-family:"DotGothic16", sans-serif;
  color: aliceblue;
  background-color: rgb(8, 107, 8);
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #09c509, #008800,#026d02);
  background-size: 600% 600%;
  animation: mover 8s ease infinite; 
}

@keyframes mover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}