.titulo {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  

}

body {
  background: radial-gradient(circle at center,
    #29d07c 0%,
    #0c7b43 100%
  );

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');

  body {
    display: flex;
    margin: 0;
    background: radial-gradient(circle at center, #29d07c, #0c7b43);
    font-family: 'Nunito', sans-serif;
    gap: 30px;
  }
  

  .top-bar, .bottom-bar {
    background-color: #002244;
    height: 50px;

  }
  
  
  .navbar {
     display: flex;
    position: fixed;
    top: 10px; 
    left: 0;
    right: 0;
    background-color: #fff7f0; 
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    font-family: 'Nunito', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: none;
  }
  

  body::before {
    content: "";
    display: block;
    height: 70px;
  }
  

  .logo {
    color: #ffcc00;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 black;
  }
 
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 25px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: 'Nunito', sans-serif;
  }
  
  .menu a:hover {
    color: #eeff00;
  }

  
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20rem;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 2rem 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.card h3 {
  color: #222;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.card p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.descricao{
  color: #ffffff;
  text-align: center;
  padding: 100px 20px 0.5px;
  
}